<div class="container-fluid">
    <div class="navbar">
        <a routerLink="/">
            <div class="left">
                <img class="img" src="/assets/images/Logo.png">
            </div>
        </a>
    
        <div class="center">
            <ul>
                <li class="nav-links">
                    <a routerLink="/">Home</a>
                </li>
                <li class="nav-links">
                    <a routerLink="/about">About Us</a>
                </li>
                <li class="nav-links">
                    <a routerLink="/contact-us">Contact Us</a>
                </li>
            </ul>
        </div>
    
        <div class="right">
            <a *ngIf="isAuthenticated === 'false'" routerLink="/login">
                <button class="btn">Login</button>
            </a>
        </div>
        <a *ngIf="isAuthenticated === 'true'" routerLink="/">
            <div class="right">
              <button class="btn">Logout</button>
            </div>
        </a>
    </div>
</div>