/**.container-fluid{
    background-color: white;
    height: 60px;
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid  whitesmoke;
    z-index: 3;
    color: rgba(255, 255, 255, 1);
}**/

.footer{
    display: flex;
    width: 78%;
    justify-content: space-between;
    align-content: center;
    margin-top: 50px;
    padding: 10px 150px;
    background-color: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.left{
    width: 150%;
}

.img{
    padding-top: 11px;
    width: 100%;
    height: 35px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 55px;
}

.footer-links{
    display: inline-flex;
    list-style-type: none;
    margin: 20px;
}

.footer-links a{
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.footer-links a:hover{
    cursor: pointer;
    color: rgba(0, 199, 190, 1);
}

.copyright{
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-family: sans-serif;
    font-weight: lighter;
    font-size: small;
    margin-top: 15px;
}