<div class="container-fluid">
    <div class="footer">
        <a routerLink="/">
            <div class="left">
                <img class="img" src="/assets/images/Logo.png">
            </div>
        </a>
    
        <div class="right">
            <ul>
                <li class="footer-links">
                    <a routerLink="/">Home</a>
                </li>
                <li class="footer-links">
                    <a routerLink="/about">About Us</a>
                </li>
                <li class="footer-links">
                    <a routerLink="/contact">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>

    <h3 class="copyright">&copy;SR2023</h3>
</div>