<app-crime-form-header></app-crime-form-header>
<section>
    <div class="about-image">
        <div class="img">
            <img class="img1" src="/assets/images/img1.jpg">
        </div>

        <div class="img">
            <img class="img1" src="/assets/images/img2.jpg">
        </div>
    </div>

    <div class="who-we-are">
        <div class="tittle">
            <h2>Who We Are</h2>
        </div>

        <div class="text">
            <p>
                We are a forward-thinking technology company dedicated to <br>
                transforming the landscape of safety reporting. <br>
                At our core, we believe in harnessing the power of innovation <br>
                to build secure, efficient, and transparent solutions that empower communities. <br>
                Through the integration of cutting-edge blockchain technology and <br>
                user-friendly interfaces, we've pioneered a platform that <br>
                revolutionizes how incidents are reported and addressed. <br>
                Our commitment to data integrity, user privacy, and <br>
                community collaboration drives us to create a safer and more <br>
                connected society, ensuring that every individual's voice is heard <br>
                and contributes to a collective effort for a safer world.
                <br> <br>
                At our heart, we are champions of transparency and accountability <br>
                in the realm of safety reporting. Our expertise lies in <br>
                developing systems that not only streamline the reporting <br>
                process but also expedite resolution times. By prioritizing <br>
                security and efficiency, we aim to establish <br>
                a new standard in incident reporting, where trust, <br>
                swift action, and community involvement form the pillars of our mission. <br>
                We are here to make a real impact, fostering an environment <br>
                where safety is a shared responsibility, and every report <br>
                matters in shaping a more secure and responsive society.
            </p>
        </div>
    </div>
</section>