.navbar{
    width: 80%;
    margin-top: 35px;
    padding: 10px 150px;
    color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}


.img{
    padding-top: 8px;
    width: 50px;
    height: 30px;
}

#main{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 80px 80px 0px 80px;
    height: 70vh;
}

.login-content{
    width: 30%;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(200, 193, 193);
    margin-left: 70px;
    margin-top: 15px;
    border-radius: 10px;
}

.login-content h2{
    color: rgba(0, 0, 0, 1);
    font-family: sans-serif;
    margin-top: 30px;
    margin-left: 20px;
    letter-spacing: -0.5;
}

.login-content p{
    margin-top: 15px;
    margin-left: 20px;
    letter-spacing: -0.5;
    color: rgba(60, 60, 67, 0.6);
    font-family: sans-serif;
    font-size: smaller;
}

.Register{
    margin-left: 20px;
    margin-top: 35px;
    border: none;
}

.Register .text{
    margin-top: 25px;

}

.Register .text2{
    margin-top: 25px;
}

.Register input{
    margin-bottom: 30px;
    width: 300px;
    height: 40px;
    border: none;
    box-shadow: 1px 1px 1px 1px rgb(200, 193, 193);
    background-color: rgba(113, 117, 121, 0.16);
    border-radius: 5px;
}

.text-danger{
    color: red;
    font-size: smaller;
    margin-left: 25px;
}

#check{
    margin-left: 20px;
}

.submit{
    background: rgba(0, 199, 190, 1);
    color: white;
    width: 135px;
    height: 40px;
    text-align: center;
    border-style: none;
    border-radius: 40px;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: -0.4px;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.submit a:hover{
    cursor: pointer;
}

.logindemo{
    margin-right: 80px;
    width: 350px;
    height: 450px;
}