<app-header></app-header>

<section>
    <div id="Form-section">
        <div id="tittle">
            <h2>Report Crime Here!!!</h2>
            <p>At SafeReport, we aim to provide solution for the various cybercrime
                victims using our innovative digital platform. <br>we believe in <strong>Justice</strong> being served.</p>
        </div>

        <form [formGroup]="reportDetails">
            <div class="report-form">
                <div class="form-content">
                    <br><label class="field">Time of Crime</label><br>
                    <input type="time" formControlName="time"><br><br>

                    <label class="field">Date of Crime</label><br>
                    <input type="date"  formControlName="date"><br><br>

                    <label class="field">Type of Cybercrime</label><br>
                    <select id="crimetype" name="crimeType" formControlName="crimeType"  >
                        <option class="select" value="CyberStalking">Cyber Stalking</option>
                        <option class="select" value="Identity theft">Identity Theft</option>
                        <option value="CyberBullying">Cyber Bullying</option>
                        <option value="internet fraud">Internt Fraud</option>
                        <option value="online scams">Online Scams</option>
                    </select><br><br>

                    <div class="crimebtn">

                      <button class="btn1">Suspect</button>
                      <button class="btn2">Perpetrator</button>

                    </div><br>

                    <label class="field">Full Name</label><br>
                    <input type="text" formControlName="fullName" ><br><br>

                    <label class="field">Social Media used</label><br>
                    <select id="socials" name="socials" formControlName="socials">
                        <option value="twitter">Twitter</option>
                        <option value="instagram">Instagram</option>
                        <option value="telegram">Telegram</option>
                        <option value="whatsapp">Whatapp</option>
                        <option value="linkedIn">LinkedIn</option>
                        <option value="slack">Slack</option>
                        <option value="discord">Discord</option>
                    </select><br><br>

                    <label class="field">Social Media Handle</label><br>
                    <input type="text" formControlName="handle"><br><br>

                    <label class="field">Email address used</label><br>
                    <input type="email" formControlName="email"><br><br>

                    <label class="field">Phone number</label><br>
                    <input type="number" formControlName="phoneNumber" ><br><br>

                    <label class="field">Detailed description of the crime</label><br>
                    <input type="text" formControlName="description"><br><br>

                    <div class="image-main">
        <div
          class="image-row"
          [ngClass]="{ 'mr-0': last }"
          *ngFor="
            let uploadNumber of uploadNumbers;
            let i = index;
            let last = last
          "
        >
          <div
            
            *ngIf="images[i]; else upload"
          >
            <div class="">
              <div
                class="group"
              >
                <div
                  class="single-image"
                >
                  <div
                    (click)="deleteImg(i)"
                    class="deleted"
                  >
                    <img
                      src="../../../assets/svg/Deletelight.svg"
                      alt="delete"
                      class="pr-3"
                    />
                    <p class="text">Delete</p>
                  </div>
                </div>

                <img
                  class="imaged"
                  src="{{ images[i] }}"
                  alt="product"
                />
              </div>
            </div>
          </div>
          <ng-template #upload>
            <div
              (click)="file.click()"
              class="upload"
            >
              <div class="pb-6">
                <img
                  src="../../../assets//svg/Path.svg"
                  alt="add image icon"
                  class="width-full mx-auto pt-6 pb-4"
                />
                <p  class="green">
                  Upload Evidence
                </p>
                <input
                  type="file"
                  class="file-upload"
                  hidden
                  #file
                  (change)="uploadFile($event, i)"
                  accept="image/png, image/gif, image/jpeg"
                  name="file"
                  formControlName="file"
                />
              </div>
            </div>
          </ng-template>
          
        </div>
        <div class="submitbtn">
          <button class="btn1"> Submit</button>
        </div>
      </div>          
                </div>
            </div>
        </form>
    
        <app-footer></app-footer>

    </div>

</section>