<app-crime-form-header></app-crime-form-header>

<section>
    <div id="Form-section">
        <div id="tittle">
            <h2>Report Crime Here!!!</h2>
            <p>At SafeReport, we aim to provide solution for the various cybercrime
                victims using our innovative digital platform. <br>we believe in <strong>Justice</strong> being served.</p>
        </div>

        <form>
            <div class="report-form">
                <label>Time of Crime</label>
                <input type="time">

                <label>Date of Crime</label>
                <input type="date">

                <label>Date of Crime</label>
                <input type="date">

                <label>Date of Crime</label>
                <input type="date">

                <label>Date of Crime</label>
                <input type="date">

                <label>Date of Crime</label>
                <input type="date">

                <label>Date of Crime</label>
                <input type="date">

                <label>Date of Crime</label>
                <input type="date">

                <label>Date of Crime</label>
                <input type="text">
            </div>
        </form>
    </div>

    <app-footer></app-footer>
</section>