#Form-section{
    margin: 80px;
    width: 80%;
}

#tittle{
    margin: 90px;
    color: black;
    width: 80%;
}

#tittle h2{
    color: rgba(0, 0, 0, 1);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 62px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
}

#tittle p{
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    color: rgba(60, 60, 67, 0.6);
}

.report-form{
    background-color: rgba(255, 255, 255, 1);
    width: 400px;
    height: 700px;
    margin-left: 90px;
    border: none;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgb(200, 193, 193);
}

.field{
    padding-top: 2000000px;
    margin-left: 25px;
}