<app-crime-form-header></app-crime-form-header>

<section>
    <div id="Form-section">
        <div id="tittle">
            <h2>Report Crime Here!!!</h2>
            <p>At SafeReport, we aim to provide solution for the various cybercrime
                victims using our innovative digital platform. <br>we believe in <strong>Justice</strong> being served.</p>
        </div>

        <form>
            <div class="report-form">
                <label class="field">Time of Crime</label><br>
                <input type="time"><br>

                <label class="field">Date of Crime</label><br>
                <input type="date"><br>

                <label class="field">Type of Cybercrime</label><br>
                <input type=""><br>

                <label class="field">Fullname</label><br>
                <input type="text"><br>

                <label class="field">Social Media used</label><br>
                <input type="date"><br>

                <label class="field">Socialmedia Handle</label><br>
                <input type="date"><br>

                <label class="field">Email address used</label><br>
                <input type="date"><br>

                <label class="field">Phone number</label><br>
                <input type="number"><br>

                <label class="field">Detailed description of the crime</label><br>
                <input type="text"><br>
            </div>
        </form>
    
        <app-footer></app-footer>

    </div>

</section>