<app-header></app-header>

<div class="container">
    

    <div class="banner-content">
        <div class="text">
            <h2 id="banner-text">Empower Your <br>Community: <br> 
                Securely Report Crime.</h2>
            
            <p class="banner-paragraph">Experience a seamless, trustworthy system that revolutionizes <br>
            crime reporting, safeguarding information integrity and <br> 
            empowering citizens to make a difference.</p>
        </div>

        <div class="button">
            <a routerLink="/report-form">
                <button class="banner-btn">Report a Crime</button>
            </a>
        </div>

        <div class="banner-avatar">
            <div class="user-avatar">
                <img class="avatar" src="/assets/images/Avatar.png">
            </div>
            <div class="avatar-text">
                <p><strong>10000+</strong> <br> Users around the world</p>
            </div>
        </div>
    </div>
</div>

<!--Why use Safe Report-->
<section>
    <div class="Why-SafeReport">
        <div class="Section-tittle">
            <div class="tittle-text">
                <h3 class="h3-text">WHY USE SAFEREPORT?</h3>
                <h2 class="h2-text">Security, Transparency, Efficiency</h2>
            </div>

            <div class="tittle-desc">
                Our platform ensures data integrity, encryption, and <br>
                immutability, guaranteeing the highest levels of security and <br>
                privacy for every report.
            </div>
        </div>

        <div class="benefits">
            <div class="lists">
                <ul>
                    <li><h2 class="list1"><strong>Unparalleled Security</strong></h2>
                        <p class="p1">Our platform utilizes blockchain, ensuring tamper-proof <br>
                        data and confidentiality, maintaining the utmost privacy <br>
                        for all reports.</p>
                    </li>

                    <li><h2 class="list1"><strong>Total Transparency</strong></h2>
                        <p class="p1">Our system promotes trust and accountability, offering <br>transparent processes that foster community <br>confidence in the reporting and resolution of incidents.</p>
                    </li>

                    <li><h2 class="list1"><strong>Effortless Efficiency</strong></h2>
                        <p class="p1">Streamline reporting procedures with our user-friendly <br>interface, facilitating swift and efficient communication <br>between users and law enforcement.p>
                    </li>
                </ul>
            </div>

            <div class="benefits-image">

            </div>
        </div>
    </div>
</section>

<!--How SafeReport Works-->
<section>
    <div id="howitworks">
        <div class="howdesc">

        </div>

        <div class="how-it-works">
            <h3>HOW IT WORKS</h3>
            <H2>Simple Steps to Incident <br>Reporting</H2>
            <p>In just few easy step, you are all set with a seamless reporting <br>journey, our platform simplifies incident reporting.</p>

            <div class="Stepper">
                <img class="stepperimage" src="/assets/images/Stepper.png">
            </div>
        </div>
    </div>
</section>

<!--SafeReport with CMS-->
<section>
    <div id="CMS">
        <h3>INCREASE SECURITY</h3>
        <h2>Revolutionizing Safety Reporting</h2>
        <div class="SRwithcms">
            <div class="withcms">
                <img class="cmstoggle" src="/assets/images/Toggle.png">

                <h4>Revolutionized safety reporting, transforming the <br>landscape significantly.</h4>
                <ul>
                    <li> <img id="listimg" src="/assets/images/listcircle.png"> Secure and encrypted report submissions.</li>
                    <li> <img id="listimg" src="/assets/images/listcircle.png"> User-friendly interface ensuring confidentiality and accuracy.</li>
                    <li> <img id="listimg" src="/assets/images/listcircle.png"> Automated processes for swift routing to authorities.</li>
                </ul>
            </div>

            <div class="desc">

            </div>
        </div>
    </div>
</section>

<!--SafeReport without CMS
<section>
    <h3>INCREASE SECURITY</h3>
    <h2>Challenges In Traditional Crime Reporting</h2>
    <div>
        <div class="withoutcms">
            <img src="">

            <h3>Manual procedures, delayed responses, and a lack  <br>of transparency led to inefficiencies.</h3>
            <ul>
                <li> <img src="/assets/images/circle.png"> Secure and encrypted report submissions.</li>
                <li> <img src="/assets/images/circle.png"> User-friendly interface ensuring confidentiality and accuracy.</li>
                <li> <img src="/assets/images/circle.png"> Automated processes for swift routing to authorities.</li>
            </ul>
        </div>

        <div class="desc">

        </div>
    </div>
</section>
-->

<!--Download Section-->
<section>
    <div class="section-footer">
        <div class="download-section">
            <div class="text">
                <h3>DOWNLOAD NOW!</h3>
                <h2>Take Control, Report Securely</h2>
                <p>Join the movement towards a safer community. Your reports matter, <br>and they make a difference.</p>
                <button class="banner-btn">Report a Crime</button>
            </div>

            <div class="image">

            </div>

        </div>

        <!--Footer-->
        <app-footer></app-footer>
    </div>
</section>